.categorySearchWidth {
  width: 58%;
}

@media only screen
  and (min-device-width: 320px)
  and (min-device-width: 480px)
  and (max-device-width: 560px) {
    .mobileLogo {
      /* margin-top: 45px !important; */
      display: none !important;
    }
    .headMenu {
      display: block !important;
    }
    .mobileHide {
      display: none;
    }
    .categorySearchWidth {
      width: 80% !important;
    }
}
